@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: rgba(200, 200, 255, 0.300);
    background-image: url("background.jpg");
    background-blend-mode: darken;
}

img {
    width: 100%;
}

.heading {
    width: 90%;
    margin: 100px auto 48px auto;
}

.heading p {
    text-align: justify;

}

.heading h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: normal;
}

.heading p {
    margin-top: 24px;
    line-height: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-top: 24px;
    max-width: calc(30% - 24px);
    border-radius: 24px;
    background: rgba(255, 255, 255);
}

.content h2 {
    padding-bottom: 12px;
    font-weight: normal;
}

.content img {
    border-radius: 8px;
}

.content p {
    text-align: justify;
    padding-top: 12px;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    grid-row: calc(3);
}

.footer {
    background-color: white;
    color: rgba(00, 00, 00, 0.700);
}

footer p {
    padding: 24px;
    margin: 24px auto auto auto;
    width: 90%;
}

a{
    text-decoration: none;
}